$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-bg: hsl(207, 26%, 17%);
$very-dark-blue: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$shadow-box: 0 2px 5px hsl(0, 0%, 87%);
$dark-shadow-box: 0 2px 5px hsl(0, 0%, 13%);
