@import "./FilterMenu.scss";
@import "./Searchbox.scss";
@import "./CountriesCard.scss";

.home {
  .countries-wrapper {
    padding: 2.5rem 3rem 3rem 3rem;

    a {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .home {
    .search-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .countries-wrapper {
      padding: 0 0 3rem 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 5rem;
    }
  }
}
